nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
}

nav a:hover{
    background-color: #005f73;
    color: #fff;
    transition: background-color 0.9s ease;
    height: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 4px rgba(41, 40, 40, 0.662);
}

.blog {
    padding-left: 20px;
    margin-left: 50px;
    text-align: justify;
    margin-right: 50px;
}

body {
    background: linear-gradient(to right, rgba(32, 38, 237, 0.5), rgba(83, 50, 136, 0.5));
    background-image: url(./moroccan-flower.png);
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h1{
    text-align: center;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
    margin-left: 20px;
}